<h1>Showing Flight</h1>

<p>
  <strong>Airline:</strong>
  <%= @flight.airline.name %>
</p>

<p>
  <strong>Flight Number:</strong>
  <%= @flight.number %>
</p>

<p>
  <strong>Departure Time:</strong>
  <%= @flight.departure.date %>
</p>

<p>
  <strong>Arrival Time:</strong>
  <%= @flight.arrival.date %>
</p>

<p>
  <%= link_to 'Show passengers', flight_passengers_path(@flight) %>
</p>

<p>
  <%= link_to 'Back', flights_path %>
</p>